@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  margin: 0;
}

#ripple {
  background-position: center;
  transition: background 0.5s;
  border: none;
  cursor: pointer;
}
#ripple:hover {
  background: radial-gradient(circle, transparent 1%, #efefef3c 1%)
    center/15000%;
}
#ripple:active {
  background-size: 100%;
  transition: background 0s;
}
